/*@import 'normalize.css';*/
/*@import 'swiper/css';*/
@import 'react-spring-bottom-sheet/dist/style.css';

:root {
  --content-max-width: 1440px;
  --page-side-padding-desktop: 50px;
  --page-side-padding-mobile: 20px;
  font-size: 16px;

  --font-sans-serif: --font-plus-jakarta-sans;
}

@media (hover: hover) {
  /**
   * Only on devices that support hover (primarily, desktop)
   */
  *::-webkit-scrollbar {
    border-radius: 2px;
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: var(--azul);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--roxo-bg);

    &:hover {
      background-color: var(--roxo-light);
    }
  }
}

* {
  box-sizing: border-box;
  /*  padding: 0;*/
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-sans-serif);
  line-height: 1.5;
}

body {
  background: white;
  color: var(--roxo);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
